<div class="ui container">
  <!-- //************************/ -->
  <div class="ui vertically grid padding-left-2em">
    <div class="two column row">
      <div class="column">
        <h1 class="ui center aligned font-title">
          <i class="address book outline icon"></i>{{ title }}
        </h1>

        <div class="ui fluid steps">
          <div class="step">
            <i class="comment icon"></i>
            <div class="content">
              <div class="ui mini statistic">
                <div class="value">
                  {{ stats.publications }}
                </div>
                <div class="label">
                  Publicaciones
                </div>
              </div>
            </div>
          </div>
          <div class="step">
            <i class="users icon" [class.red]="followed"></i>
            <div class="content">
              <div class="ui mini statistic">
                <div class="value">
                  {{ stats.following }}
                </div>
                <div class="label">
                  <a routerLink="/siguiendo/{{ user._id }}/1">Seguidos</a>
                </div>
              </div>
            </div>
          </div>
          <div class="step">
            <i class="user icon" [class.red]="following"></i>
            <div class="content">
              <div class="ui mini statistic">
                <div class="value">
                  {{ stats.followed }}
                </div>
                <div class="label">
                  <a routerLink="/seguidores/{{user._id}}/1">Seguidores</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="two column row">
          <div class="column secundary">
            <div class="ui card" *ngIf="user">
              <div class="image">
                <img
                  src="{{ url + 'get-image-user/' + user.image }}"
                  *ngIf="user.image"
                />
                <img
                  src="../../../assets/images/coronavirus.png"
                  *ngIf="!user.image"
                />
              </div>
              <div class="content">
                <h2 class="ui header">{{ user.nick }}</h2>

                <div class="description">
                  {{ user.name + " " + user.surname }}
                </div>
              </div>
              <div class="content">
                <span class="ui header">Sobre mi</span>
                <p class="ui description">
                  {{ user.description }}
                </p>
              </div>
              <div class="content">
                <div class="mini ui orange button" *ngIf="followed">
                  Te sigue
                </div>
                <!-- Seguir usuario -->
                <div class="right floated" *ngIf="user._id != identity._id">
                  <a
                    class="ui mini orange button"
                    *ngIf="!following"
                    (click)="followUser(user._id)"
                    ><i class="thermometer full icon"></i>Seguir</a
                  >
                  <!-- Dejar de seguir usuario -->
                  <a
                    class="ui mini purple button"
                    *ngIf="following"
                    (click)="unFollowUser(user._id)"
                    (mouseenter)="mouserEnter(user._id)"
                    (mouseleave)="mouserLeave()"
                    [class.red]="user._id == followUserOver"
                  >
                    <!-- cuando estemos encima del user nos muestra dejar de seguir -->
                    <span *ngIf="user._id == followUserOver; else following">
                      <i class="thermometer empty icon"></i>Dejar de seguir
                    </span>

                    <ng-template #following>
                      Siguiendo
                    </ng-template>
                  </a>
                  <!-- Seguir usuario -->
                </div>
              </div>
            </div>
          </div>
          <div class="column secundary" *ngIf="user">
            <!-- le pasamos el usuario del cual queremos mostrar las publicaciones -->
            <app-publications [user]="user._id"></app-publications>
          </div>
        </div>
      </div>
      <div class="column">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</div>
