@media all and (max-width: 520px) {

}
@media all and (max-width: 600px) {

}
@media all and (max-width: 840px) {
  div.column.secundary{
    padding-top: 25px;
    width: 100%;
    float: none;
    clear: both;
  }
}
div.ui.container{
  width: 90%;
}
div.extra.text{
  min-width: 90%;
  text-align: justify;
}
div.column.secundary{
  width: 50%;
  float: left;
  padding-left: 1em;
}
