<div class="ui container">
  <div class="ui middle aligned center aligned grid"></div>
  <!-- //************************/ -->
  <div class="ui vertically grid padding-left-2em">
    <div class="two column row">
      <div class="column">
        <h1 class="ui center aligned font-title">
          <i class="newspaper outline icon"></i>{{ title }}
        </h1>
        <!-- El evento no se usa pero por si se quiere usar alguna propiedad del componente -->
        <button
          id="showMore"
          class="ui red icon button"
          (click)="refresh($event)"
          title="Actualizar publicaciones"
        >
          <i class="icon redo alternate"></i>
        </button>
        <div class="ui large feed" *ngFor="let publication of publications">
          <div class="event">
            <div class="label">
              <img
                *ngIf="publication.user.image"
                class="ui small circular image"
                src="{{ url + 'get-image-user/' + publication.user.image }}"
              />
              <img
                *ngIf="!publication.user.image"
                class="ui small circular image"
                src="../../../assets/images/coronavirus.png"
              />
            </div>
            <div class="content">
              <div class="summary">
                <a class="user" routerLink="/perfil/{{ publication.user._id }}">
                  {{ publication.user.name + " " + publication.user.surname }}
                </a>
              </div>
              <div class="content">
                <div class="summary">
                  <span *ngIf="publication.user.nick == identity.nick">
                    Has
                  </span>
                  <span *ngIf="publication.user.nick != identity.nick">
                    Ha
                  </span>
                  añadido una nueva publicación
                  <div class="date">
                    {{
                      publication.created_at
                        | amFromUnix
                        | amLocale: "es"
                        | amTimeAgo
                    }}
                  </div>
                </div>
                <div class="extra text">
                  {{ publication.text }}
                </div>
              </div>
              <!-- Imagen publicación -->
              <div class="content" *ngIf="publication.file != 'null'">
                <div class="summary">
                  <a>Momento congeledo</a>
                </div>
                <div class="extra images">
                  <a
                    class="test-popup-link image-popup-vertical-fit"
                    href="{{ url + 'get-image-pub/' + publication.file }}"
                    title="Click para ver imagen"
                    ><img src="{{ url + 'get-image-pub/' + publication.file }}"
                  /></a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="ui" *ngIf="publications && publications.length">
          <div class="ui middle aligned center aligned grid" *ngIf="!noMore">
            <div class="ui hidden divider"></div>
            <button class="ui red basic button" (click)="viewMore()">
              Más publicaciones
            </button>
          </div>
        </div>
        <div class="ui middle aligned center aligned grid" *ngIf="noMore">
          <div class="ui hidden divider"></div>
          <a class="ui red basic button" id="top">
            Subir
          </a>
        </div>
      </div>
      <div class="column">
        <app-sidebar (sended)="refresh($event)"></app-sidebar>
      </div>
    </div>
  </div>
</div>
