<div class="ui container">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h1 id="titleRegister" class="ui header"></h1>
    </div>
  </div>
</div>


<div class="ui grid">
  <div class="row">
      <div class="column padding-reset">
          <div class="ui huge message page grid">
              <h1 class="ui huge header">{{ title }}</h1>
              <p>Desarrollo de una red social con el MEAN Stack (MongoDB, Express, Angular y Node.js)<br>
                Web completa y funcional, a nivel de backend y frontend, usando únicamente tecnologías JavaScript.
              </p>
          </div>
      </div>
  </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui page grid">
  <div class="three column row">
      <div class="column">
        <img class="ui small image angular" src="../../../assets/images/angular.svg">
          <p>Framework para aplicaciones web desarrollado en TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página.
          </p>
          <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
      </div>
      <div class="column">
        <img class="ui small image" src="../../../assets/images/nodejs-icon.svg">
          <p>Node.js es un entorno que trabaja en tiempo de ejecución, de código abierto, multi-plataforma, que permite a los desarrolladores crear toda clase de herramientas de lado servidor y aplicaciones en JavaScript.<br>
            Express es una infraestructura de aplicaciones web Node.js mínima y flexible que proporciona un conjunto sólido de características para las aplicaciones web y móviles, como los servicios HTTP.
          </p>
          <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
      </div>
      <div class="column">
          <img class="ui small image" src="../../../assets/images/mongodb.svg">
          <p>MongoDB es un sistema de base de datos NoSQL, orientado a documentos y de código abierto.
            En lugar de guardar los datos en tablas, tal y como se hace en las bases de datos relacionales, MongoDB guarda estructuras de datos BSON (una especificación similar a JSON) con un esquema dinámico.</p>
          <!-- <button class="ui tiny button m-top-10">View details &raquo;</button> -->
      </div>
  </div>
</div>

