/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Baloo+Da+2|Muli&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@media all and (max-width: 520px) {
  div.column.secundary{
    width: 100%;
  }
}

@media all and (max-width: 840px) {
  div.column.secundary{
    width: 100%;
  }
  .spacing {
    width: 0;
  }
}

@media all and (max-width: 600px) {
  .spacing {
    width:50vh;
  }
}

@media all and (max-width: 1200px) {
  .spacing {
    width: 100vh;
  }
}
html {
  min-height: 100%;
  position: relative;
}
:root {
  --font-family-prim: "Baloo Da 2", cursive;
  --font-family-sec: "Muli", sans-serif;
  --font-title:'Fjalla One', sans-serif;
  --color-primary: rgb(#db2828);
}
/*Nav*/
.font-primary {
  font-family: var(--font-family-prim);
  font-size: 2.5rem;
}
.font-secundary {
  font-family: var(--font-family-sec);
  font-size: 3rem;
}
.ui.menu a.item#title span {
  color: var(--color-primary);
  font-size: 0.7em;
}
 .font-title, div.column h1.ui.center.aligned.font-title {
  font-family: var(--font-title);
}
.ui.menu a.item#title:hover {
  background-color: white;
  color: var(--color-primary);
}
div#nav-main.ui.secondary.menu {
  color: aliceblue;
  width: 100%;
}
#title.font-primary.spacing.item{
  width: 25%;
}
a.ui.right.floated.item {
  margin-left: 0;
  padding-left: 0;
}
div.ui.text.dropdown.menu {
  margin-right: 2em;
}

/*Registro*/
h1.ui.header#titleRegister {
  margin-top: 1em;
  font-family: var(--font-family-prim);
  color: var(--color-primary);
}
.primary-color {
  color: var(--color-primary) !important;
}
/*general class*/
.spacing {
  width: 100vh;
  margin: 0;
  padding: 0;
}
/*general class*/

/*user-edit-component*/
.img-circle {
  border-radius: 50%;
  background-color: var(--color-primary);
}

/* Logo cabezera titulos */
h4.ui.header.logo-txt {
  padding-top: 10px;
  width: 100%;
}

.padding-left-2em {
  padding-left: 2em;
}

