/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Baloo+Da+2|Muli&display=swap");

@media all and (max-width: 520px) {

}

@media all and (max-width: 840px) {
  .spacing {
    width: 0;
  }
}

@media all and (max-width: 600px) {
  .spacing {
    width:50vh;
  }
}

@media all and (max-width: 1200px) {
  .spacing {
    width: 100vh;
  }
}

:root {
  --font-family-prim: "Baloo Da 2", cursive;
  --font-family-sec: "Muli", sans-serif;
  --color-primary: rgb(#db2828);
}
/*Nav*/
.font-primary {
  font-family: var(--font-family-prim);
  font-size: 2.5rem;
}
.font-secundary {
  font-family: var(--font-family-sec);
  font-size: 3rem;
}
.ui.menu a.item#title span {
  color: var(--color-primary);
  font-size: 0.7em;
}

.ui.menu a.item#title:hover {
  background-color: white;
  color: var(--color-primary);
}
div#nav-main.ui.secondary.menu {
  color: aliceblue;
  width: 100%;
}
#title.font-primary.spacing.item{
  width: 25%;
}
a.ui.right.floated.item {
  margin-left: 0;
  padding-left: 0;
}
div.ui.text.dropdown.menu {
  margin-right: 2em;
}

/*Registro*/
h1.ui.header#titleRegister {
  margin-top: 1em;
  font-family: var(--font-family-prim);
  color: var(--color-primary);
}
.primary-color {
  color: var(--color-primary) !important;
}

/* footer*/
footer {
  position: absolute;
  margin-top: 200px;
  bottom: 0;
}
img.ui.image.footer {
  display: inline;
  margin-left: 1em;
}
img.ui.image {
  margin-left: 0;
}
img.ui.image.angular {
  margin-bottom: 0.2em;
}
img.ui.mini.image.footer{
  padding-right: 0.4em;

}

/*general class*/
.spacing {
  width: 100vh;
}
/*general class*/
