
/* footer*/
footer {
  position: absolute;
  bottom: 3em;
  width: 100%;
}
img.ui.image.footer {
  display: inline;
  margin-left: 1em;
}
img.ui.image {
  margin-left: 0;
}
img.ui.image.angular {
  margin-bottom: 0.2em;
}
img.ui.mini.image.footer{
  padding-right: 0.4em;

}
