<div class="ui middle aligned center aligned grid">
  <div class="ui grid">
    <div class="sixteen wide column">
      <h1 id="titleRegister" class="ui header">{{ title }}</h1>

      <div *ngIf="status == 'succes'" class="ui positive message">
        <div class="header">
          <i class="user plus icon"></i>
          Registro completado correctamente.
          <a [routerLink]="['/login']">Identificate aquí.</a>
        </div>
      </div>
      <div *ngIf="status == 'error'" class="ui negative message">
        <div class="header">
          <i class="exclamation triangle icon"></i>
          Intentalo de nuevo.
        </div>
      </div>

      <form
        #registerForm="ngForm"
        (ngSubmit)="onSubmit(registerForm)"
        class="ui large form"
      >
        <div class="field">
          <label>Nombre</label>
          <input
            type="text"
            name="name"
            #name="ngModel"
            [(ngModel)]="user.name"
            placeholder="Nombre"
            required
          />
          <div *ngIf="!name.valid && name.touched" class="ui negative message">
            <div class="header">
              <i class="exclamation triangle icon"></i>
              El nombre es obligatorio.
            </div>
          </div>
        </div>

        <div class="field">
          <label>Apellidos</label>
          <input
            type="text"
            name="surname"
            #surname="ngModel"
            [(ngModel)]="user.surname"
            placeholder="Apellidos"
            required
          />
          <div
            *ngIf="!surname.valid && surname.touched"
            class="ui negative message"
          >
            <div class="header">
              <i class="exclamation triangle icon"></i>
              Los apellidos son obligatorios.
            </div>
          </div>
        </div>

        <div class="field">
          <label>Nick</label>
          <input
            type="text"
            name="nick"
            #nick="ngModel"
            [(ngModel)]="user.nick"
            placeholder="Nick"
            required
          />
          <div *ngIf="!nick.valid && nick.touched" class="ui negative message">
            <div class="header">
              <i class="exclamation triangle icon"></i>
              El nick es obligatorio.
            </div>
          </div>
        </div>

        <div class="field">
          <label>Correo electrónico</label>
          <input
            type="email"
            name="email"
            value="angular@gmail.com"
            #email="ngModel"
            [(ngModel)]="user.email"
            placeholder="Email"
            required
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <div
            *ngIf="!email.valid && email.touched"
            class="ui negative message"
          >
            <div class="header">
              <i class="exclamation triangle icon"></i>
              El email no es correcto.
            </div>
          </div>
        </div>
        <div class="ui grid">
          <div class="field eight wide column">
            <label>Password</label>
            <input
              type="password"
              name="password"
              #password="ngModel"
              [(ngModel)]="user.password"
              placeholder="Password"
              required
            />
            <div
              *ngIf="!password.valid && password.touched"
              class="ui negative message"
            >
              <div class="header">
                <i class="exclamation triangle icon"></i>
                La contraseña es obligatoria.
              </div>
            </div>
          </div>
          <div class="field eight wide column">
            <div class="ui checkbox">
              <input id="item" type="checkbox" ngModel required />
              <label>Acepto los Términos y condiciones</label>
            </div>

          </div>
        </div>
        <input
        id="button-submit"
          type="submit"
          value="{{ title }}"
          class="ui button fluid large red"
          [disabled]="!registerForm.form.valid"
        />
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
