<div class="ui attached stackable menu">
  <div class="ui container">
    <div class="ui secondary menu">
      <a id="title" class="font-primary spacing item">
        {{ title1 }} <span class="font-secundary">{{ title2 }}</span>
      </a>
      <a class="active item" routerLink="/">
        <i class="home icon"></i>
        Inicio
      </a>
      <a class="item" routerLink="/login">
        <i class="list icon"></i>
        Timiline
      </a>
      <a class="item">
        <i class="user circle icon"></i>
        Gente
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">

            <input type="text" placeholder="Buscar..."/>
            <i class="circular search link icon"></i>
          </div>
        </div>
        <a class="ui item">
          <i class="power off icon"></i>
          Logout
        </a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
