<div class="ui attached stackable menu">
  <div id="nav-main" class="ui secondary menu" *ngIf="identity">
    <a id="title" class="font-primary spacing item" routerLink="/home">
      <img
        class="ui tiny image left floated"
        src="../assets/images/coronavirus.png"
      />
      {{ title1 }}
      <span class="font-secundary primary-color">{{ title2 }}</span>
    </a>
    <a class="item" routerLink="/home" [routerLinkActive]="['active']">
      <i class="red big hospital icon"></i>
      Inicio
    </a>
    <a class="item" routerLink="/timeline" [routerLinkActive]="['active']">
      <i class="red big list icon"></i>
      Día a Día
    </a>
    <a class="item" routerLink="/gente" [routerLinkActive]="['active']">
      <i class="red user big circle icon"></i>
      Contagiados
    </a>
    <div class="right floated item">
      <div class="ui icon input">
        <form id="form-search" #searchForm="ngForm" class="ui large form">
          <input
            id="txt-search"
            type="search"
            placeholder="Buscar usuario..."
            name="busqueda"
            #busqueda="ngModel"
            [(ngModel)]="word"
            required
          />
          <button
          class="circular ui icon button mini"
            id="btn-search"
            type="submit"
            [disabled]="!searchForm.form.valid"
            (click)="onSubmit(searchForm,$event)"
          >
            <i class="inverted circular search link icon"></i>
          </button>
        </form>
      </div>
    </div>
    <!--  como un console log -->
    <!-- <pre>{{ word | json }}</pre> -->

    <div class="ui right floated item" *ngIf="identity && identity.image">
      <img
        *ngIf="identity.image"
        class="ui tiny avatar image"
        src="{{ url + 'get-image-user/' + identity.image }}"
      />
    </div>
    <div class="ui right floated item" *ngIf="identity.image == null">
      <img class="ui tiny avatar image" src="../assets/images/gender.png" />
    </div>
    <div class="ui text dropdown menu">
      <div class="ui right item">
        <span class="header">{{ identity.name }}</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a
            class="ui right floated item"
            routerLink="/perfil/{{ identity._id }}"
          >
            <i class="user icon"></i>
            Mi perfil
          </a>
          <a class="ui right floated item" routerLink="/actualizar-usuario">
            <i class="edit icon"></i>
            Mis datos
          </a>
          <a class="ui right floated item" routerLink="/mensajes">
            <i class="envelope icon"></i>
            Mensajes
          </a>
          <a class="ui right floated item" (click)="logout()">
            <i class="power off icon"></i>
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="nav-main" class="ui secondary menu" *ngIf="!identity">
    <a id="title" class="font-primary spacing item" routerLink="/home">
      <img
        class="ui tiny image left floated"
        src="../assets/images/coronavirus.png"
      />
      {{ title1 }} <span class="font-secundary">{{ title2 }}</span>
    </a>
    <div class="spacing"></div>
    <a class="item" routerLink="/login" [routerLinkActive]="['active']">
      <i class="user icon"></i>
      Login
    </a>
    <a class="item" routerLink="/registro" [routerLinkActive]="['active']">
      <i class="user plus icon"></i>
      Registro
    </a>
  </div>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
