<div class="ui container">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h1 id="titleRegister" class="ui header">{{ title }}</h1>
      <div *ngIf="status=='succes'" class="ui positive message">
        <div class="header">
          <i class="user plus icon"></i>
          Te has identificado correctamente.</div>
      </div>
      <div *ngIf="status=='error'" class="ui negative message">
        <div class="header">
          <i class="exclamation triangle icon"></i>
          Los datos son incorrectos.
        </div>
      </div>

      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input
                type="email"
                name="email"
                #email="ngModel"
                [(ngModel)]="user.email"
                placeholder="Introduce el correo eléctronico"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                required
              />
            </div>
            <div
              *ngIf="!email.valid && email.touched"
              class="ui negative message"
            >
              <div class="header">
                <i class="exclamation triangle icon"></i>
                El email no es correcto.
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input
                type="password"
                name="password"
                type="password"
                name="password"
                #password="ngModel"
                [(ngModel)]="user.password"
                placeholder="Introduce la cotraseña"
                required
              />
            </div>
            <div
              *ngIf="!password.valid && password.touched"
              class="ui negative message"
            >
              <div class="header">
                <i class="exclamation triangle icon"></i>
                La contraseña es obligatoria.
              </div>
            </div>
          </div>
          <input
            type="submit"
            value="{{ title }}"
            class="ui button fluid large red"
            [disabled]="!loginForm.form.valid"
          />
        </div>

        <div class="ui error message"></div>
      </form>

      <div class="ui message">
        ¿Eres nuevo? <a [routerLink]="['/registro']">Registrate aquí.</a>
      </div>
    </div>
  </div>
</div>

