<main class="ui four column">
  <!-- //************************/ -->
  <div class="ui vertically grid padding-left-2em">
    <h1 class="ui center aligned font-title">
      <i class="users  icon"></i>{{ title }}
    </h1>
    <!-- ***************** Paginación ********************** -->
    <div class="ui hidden divider"></div>
    <div class="ui middle aligned center aligned grid" *ngIf="show == false">
      <div class="ui pagination menu">
        <div *ngIf="page > 1">
          <a class="active item" [routerLink]="['/gente/', prev_page]">
            Anterior
          </a>
        </div>
        <div *ngIf="pages != page">
          <a class="active item" [routerLink]="['/gente/', next_page]">
            Siguiente
          </a>
        </div>
      </div>
    </div>
    <!-- ***************** Fin Paginación ********************** -->
    <div class="ui hidden divider"></div>
    <!-- Listado de usuarios -->
    <div class="two column row">
      <div class="column">
        <div class="ui very relaxed list" *ngFor="let user of users">
          <div class="ui huge message img-fondo">
            <div class="item">
              <div class="ui grid">
                <div class="two wide column">
                  <img
                    *ngIf="user.image"
                    class="ui small circular image"
                    src="{{ url + 'get-image-user/' + user.image }}"
                  />
                  <img
                    *ngIf="!user.image"
                    class="ui small circular image"
                    src="../../../assets/images/coronavirus.png"
                  />
                </div>
                <div class="eight wide column">
                  <div class="content">
                    <a>{{ user.name + " " + user.surname }}</a>
                    <div class="description">
                      <span class="ui text red">{{ user.nick }}&nbsp;&nbsp;</span>
                      <a routerLink="/perfil/{{user._id}}" id="link-visit"><i class="icon address card blue"></i> Visitar perfil</a>
                    </div>
                  </div>
                </div>
                <!-- Seguir usuario -->
                <div class="six wide column" *ngIf="user.nick != identity.nick">
                  <a
                    id="button-follow"
                    class="ui orange button"
                    *ngIf="follows.indexOf(user._id) < 0"
                    (click)="followUSer(user._id)"
                    ><i class="thermometer full icon"></i>Seguir</a
                  >
                  <!-- Seguir usuario -->

                  <!-- Siguiendo usuario -->
                  <!-- si pasamos por encima del botón le pasamos el id al método-->
                  <div
                    class="ui labeled button"
                    tabindex="0"
                    *ngIf="follows.indexOf(user._id) >= 0"
                    (mouseenter)="mouseEnter(user._id)"
                    (mouseleave)="mouseLeave(user._id)"
                    (click)="unfollowUSer(user._id)"
                  >
                    <!-- ese método le asigna un valor a la propiedad followUserOver  -->
                    <span
                      *ngIf="user._id == followUserOver; else following"
                      class="ui red button"
                    >
                      <i class="thermometer empty icon"></i>Dejar de seguir
                    </span>
                    <ng-template #following>
                      <span class="ui blue button">
                        <i class="user icon"></i>Siguiendo
                      </span>
                    </ng-template>
                    <a class="ui basic left pointing label">

                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Siguiendo usuario -->
          </div>
        </div>
      </div>
      <div class="column">
        <p>
          <app-sidebar></app-sidebar>
        </p>
      </div>
    </div>
  </div>
</main>

