.padding-left-2em {
  padding-left: 2em;
}
div.extra.text{
  min-width: 95%;
  text-align: justify;
}
div.column.publication,div.column.images{
  display: block;
  float: left;
  margin-right: 2em;
}

.p-modal{
width: 60%;
}

div.column.btn-delete-pub{
padding-top: 3em;
}
/*
for zoom animation
uncomment this part if you haven't added this code anywhere else
*/

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* Fin for zoom animation */

/* loading */
.loading{

}

/*Fin loading */

