<h1 class="ui center aligned  font-title">
  <i class="id card icon"></i>{{ title }}
</h1>
<div class="ui two column stackable grid container">
  <div class="column">
    <div class="ui segment">
      <div *ngIf="status == 'succes'" class="ui positive message">
        <div class="header">
          <i class="exclamation triangle icon"></i>
          Publicación enviada correctamente.
        </div>
      </div>
      <div *ngIf="status == 'error'" class="ui negative message">
        <div class="header">
          <i class="exclamation triangle icon"></i>
          Publicación no enviada.
        </div>
      </div>
      <form
        class="ui form"
        #newPubForm="ngForm"
        (ngSubmit)="onSubmit(newPubForm, $event);"
      >
        <div class="field">
          <label><i class="bullhorn icon"></i> ¿Qué estás pensando?</label>
          <textarea
            name="text"
            #text="ngModel"
            [(ngModel)]="publication.text"
            required
          ></textarea>
        </div>
        <div *ngIf="!text.valid && text.touched" class="ui negative message">
          <div class="header">
            <i class="exclamation triangle icon"></i>
            El texto es obligatorio.
          </div>
        </div>
        <label><i class="image outline icon"></i>Sube tu foto</label>
        <div class="field">
          <div class="ui action input">
            <input type="text" placeholder="Sube un archivo" readonly />
            <input type="file" (change)="fileChangeEvent($event)"/>
            <div class="ui icon button">
              <i class="attach icon"></i>
            </div>
          </div>
        </div>

        <button
          class="ui active button"
          type="submit"
          [disabled]="!newPubForm.valid"
        >
          <i class="send icon"></i>
          Publicar
        </button>
      </form>
    </div>
  </div>
  <div class="column">
    <div class="ui segment without-border">
      <div class="ui link cards">
        <div class="card">
          <aside class="image" *ngIf="identity && identity.image">
            <img
              *ngIf="identity.image"
              src="{{ url + 'get-image-user/' + identity.image }}"
            />
            <img
              *ngIf="identity.image == null"
              src="../assets/images/gender.png"
            />
          </aside>
          <div class="content">
            <a class="header" routerLink="/perfil/{{identity._id}}">{{ identity.name }}</a>
            <div class="meta">
              <a>{{ identity.nick }}</a>
            </div>
            <div class="description"></div>
          </div>
          <div class="extra content">
            <span>
              <a class="header" routerLink="/siguiendo/{{identity._id}}/1">  <i class="users icon"></i>
              Siguiendo {{ stats.following }}</a>
            </span>

            <span class="right floated">
              <a class="header" routerLink="/seguidores/{{identity._id}}/1">  <i class="user icon"></i>
              Seguidores {{ stats.followed }}</a>
            </span>
          </div>
          <div class="extra content">
            <div class="ui large transparent left icon input">
              <span>
                <i class="comment icon"></i>
                <a class="header" routerLink="/perfil/{{identity._id}}"> Publicaciones</a> {{ stats.publications }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
