<div class="ui center aligned grid">
  <div class="ui field six wide  column">
    <h1 id="titleRegister" class="ui header">{{ title }}</h1>

    <div *ngIf="status == 'succes'" class="ui positive message">
      <div class="header">
        <i class="user plus icon"></i>
        Datos modificados correctamente.
      </div>
    </div>
    <div *ngIf="status == 'error'" class="ui negative message">
      <div class="header">
        <i class="exclamation triangle icon"></i>
        Los datos no se han podido modificar.
      </div>
    </div>

    <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="ui large form">
      <div class="field sixteen">
        <label>Nombre</label>
        <input
          type="text"
          name="name"
          #name="ngModel"
          [(ngModel)]="user.name"
          required
        />
        <div *ngIf="!name.valid && name.touched" class="ui negative message">
          <div class="header">
            <i class="exclamation triangle icon"></i>
            El nombre es obligatorio.
          </div>
        </div>
      </div>

      <div class="field">
        <label>Apellidos</label>
        <input
          type="text"
          name="surname"
          #surname="ngModel"
          [(ngModel)]="user.surname"
          required
        />
        <div
          *ngIf="!surname.valid && surname.touched"
          class="ui negative message"
        >
          <div class="header">
            <i class="exclamation triangle icon"></i>
            Los apellidos son obligatorios.
          </div>
        </div>
      </div>

      <div class="field">
        <label>Nick</label>
        <input
          type="text"
          name="nick"
          #nick="ngModel"
          [(ngModel)]="user.nick"
          required
        />
        <div *ngIf="!nick.valid && nick.touched" class="ui negative message">
          <div class="header">
            <i class="exclamation triangle icon"></i>
            El nick es obligatorio.
          </div>
        </div>
      </div>

      <div class="field">
        <label>Correo electrónico</label>
        <input
          type="email"
          name="email"
          #email="ngModel"
          [(ngModel)]="user.email"
          required
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
        <div *ngIf="!email.valid && email.touched" class="ui negative message">
          <div class="header">
            <i class="exclamation triangle icon"></i>
            El email no es correcto.
          </div>
        </div>
      </div>

      <div class="field">
        <label>Habla de ti</label>
        <textarea
        name="description"
        #description="ngModel"
        [(ngModel)]="user.description"
        rows="2"></textarea>
      </div>

      <div class="ui relaxed items" *ngIf="user.image">
        <div class="item">
          <div class="middle aligned content">
            <div class="ui tiny image">
              <img
                class="ui medium circular image"
                src="{{ url + 'get-image-user/' + user.image }}"
              />
            </div>
            <a class="header">Esta es tu imagen de usuario {{ user.name }}</a>
          </div>
        </div>
      </div>

      <div class="ui grid">
        <div class="field sixteen wide column">
          <label for="file" class="ui icon button">
            <i class="file icon"></i>
            Subir imagen de usuario</label
          >

          <input
            type="file"
            id="file"
            style="display:none"
            (change)="fileChangeEvent($event)"
          />
        </div>
      </div>

      <br />
      <input
        type="submit"
        value="{{ title }}"
        class="ui button fluid large red"
        [disabled]="!userEditForm.form.valid"
      />
    </form>
  </div>
</div>

